<div [class.nav-sidebar-shown]="navExpanded" class='h-screen'>
    <div class='nav-sidebar-toggle' (click)="toggleNav()">
        <i class='fa fa-bars'></i>
    </div>
    <div class='nav-fader' (click)="toggleNav()">

    </div>
    <!-- Sidebar -->
    <app-side-bar [navGroups]="navGroups" (onNavigate)="onNavigate($event)"></app-side-bar>
    <!-- /#sidebar-wrapper -->
    <app-nav-bar [type]="'organisation'" [title]="'Markdown'" class='z-depth-1'></app-nav-bar>
    <div class="page-content-wrapper">
        <router-outlet></router-outlet>
    </div>
</div>