@function set-button-text-color($color) {
    @if (lightness($color) > 40) {
        @return darken($color, 90%);
    }
    @else {
        @return #FFFFFF;
    }
}

$primary-color: #7f81b2;
$primary-text: white;