@import 'colors';
@import 'animations';
@import 'mediaQueries';
$sidebar-background: darken($primary-color, 20);
$sidebar-width: 250px;
$navbar-height: 42px;
//Sidebar when closed
app-side-bar {
    padding-left: 0px;
    width: $sidebar-width + 20px;
    position: fixed;
    z-index: 1000;
    top: 0;
    height: 100%;
    max-height: 100%;
    overflow-y: auto;
    background-color: $sidebar-background;
    color: set-button-text-color($sidebar-background);
    left: -$sidebar-width - 20px;
    transition: $navbar-animation;
}

//Sidebar when open
.nav-sidebar-shown>app-side-bar {
    left: -20px;
    box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

@media (max-width:$media-medium) {
    .nav-sidebar-shown>app-side-bar {
        box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
}

//Hide the fader when we are on a large screen
@media (max-width:$media-medium) {
    .nav-fader {
        width: 0%;
    }
}

//Sidebar button when closed
.nav-sidebar-toggle {
    text-align: center;
    height: $navbar-height;
    width: $navbar-height;
    padding: 8px;
    font-size: large;
    position: absolute;
    color: set-button-text-color($sidebar-background);
    top: 0;
    z-index: 1000;
    transition: $navbar-animation;
    background-color: $sidebar-background;
}

.nav-sidebar-shown>.nav-sidebar-toggle {
    margin-left: $sidebar-width;
}

.nav-sidebar-toggle:hover {
    cursor: pointer;
}

@media (max-width:$media-medium) {
    .nav-sidebar-shown>.nav-sidebar-toggle {
        margin-left: 0px;
        ;
    }
}

//Background nav bar
.nav-fader {
    position: fixed;
    background-color: rgba(0, 0, 0, 0);
    width: 0;
    height: 100%;
    transition: $navbar-animation;
    z-index: 999;
}

.nav-sidebar-shown>.nav-fader {
    width: 100%;
    background-color: rgba(0, 0, 0, 0.25);
}

//Hide the fader when we are on a
@media (min-width:$media-medium) {
    .nav-fader {
        width: 0% !important;
    }
}

.page-content-wrapper {
    transition: $navbar-animation;
}

@media (min-width:$media-medium) {
    .nav-sidebar-shown>.page-content-wrapper {
        padding-left: $sidebar-width;
    }
}

.nav-bar,
.nav-bar-base {
    background-color: $sidebar-background;
    padding-left: $navbar-height;
    display: flex;
    width: 100%;
    min-height: $navbar-height;
    height: $navbar-height;
    max-height: $navbar-height;
    color: $primary-text;
    transition: $navbar-animation;
    display: flex;
}

.nav-bar-base {
    padding-left: 0;
}

@media (min-width:$media-medium) {
    .nav-sidebar-shown>.nav-bar {
        padding-left: $navbar-height + $sidebar-width;
    }
}

.sidebar-title {
    width: 100%;
    font-size: large;
    padding: 10px;
    padding-left: 40px;
    height: $navbar-height;
    background-color: darken($sidebar-background, 10%);
    color: set-button-text-color(darken($sidebar-background, 10%));
}

.card {
    color: set-button-text-color(white);
}