$white: rgba(255,255,255,0.9);
$black: rgba(0,0,0,0.8);

.persona-alert.bg-danger {
    color: $white;
}

.persona-alert.bg-info {
    color: $black;
}

.persona-alert.bg-warning {
    color: $black;
}
