<div [class]="class">
    <div *ngIf="title != null && title.length > 0">
        <b>
            <i *ngIf='icon != null && icon.length > 0' [class]='"pr-1 fa " + icon'></i>{{title}}
        </b>
        <br/>
    </div>
    <ng-content></ng-content>
</div>