<div class='home-content'>
    <div class='p-4'>
        <h3>
            Welcome to Markdown, We allow senior and companion card holders to easily discover what discounts Australian business are
            offering them.
        </h3>

    </div>
    <div class='row'>
        <div class='col-12 col-lg-6 p-2'>
            <div class='card z-depth-1 animated fadeIn text-center h-100 p-2 hoverable' [routerLink]="'/category/cafes'">
                <b>Cafes</b>
                <br/>
                <h2><i class='fa fa-coffee'></i></h2>
            </div>
        </div>
        <div class='col-12 col-lg-6 p-2'>
            <div class='card z-depth-1 animated fadeIn text-center h-100 p-2 hoverable' [routerLink]="'/category/accommodation'">
                <b>Accommodations</b>
                <br/>
                <h2><i class='fa fa-home'></i></h2>
            </div>
        </div>
        <div class='col-12 col-lg-6 p-2'>
            <div class='card z-depth-1 animated fadeIn text-center h-100 p-2 hoverable' [routerLink]="'/category/clothing'">
                <b>Clothing</b>
                <br/>
                <h2><i class='fa fa-user'></i></h2>
            </div>
        </div>
        <div class='col-12 col-lg-6 p-2'>
            <div class='card z-depth-1 animated fadeIn text-center h-100 p-2 hoverable' [routerLink]="'/category/Travel%20Agencies'">
                <b>Travel</b>
                <br/>
                <h2><i class='fa fa-car'></i></h2>
            </div>
        </div>
    </div>
</div>