<div class='card z-depth-1 animated fadeIn h-100 p-2'>
    <div class='row'>
        <div class='col-8'>
            <b>{{discountRecord.trading_name}}</b>
            <br/>
            <i>
                {{discountRecord.address}}
            </i>
            <br/>
            <i>
                Distance: {{(discountRecord.distance).toFixed(2)}}kms ({{((discountRecord.distance*10)).toFixed(0)}} minute walk)
            </i>
            <hr/>

        </div>
        <div class='col-4 text-center'>
            <a [href]="['https://www.google.com/maps/search/' + discountRecord.trading_name + '/@' + discountRecord.lat + ',' + discountRecord.lng]"
                class='float-right pr-2'>
                <i class='fa fa-map-marker'></i>
                <br/>Navigate
            </a>
        </div>
        <div class='col-12'>
            <p>
                {{(discountRecord.discount_description)}}
            </p>
        </div>
    </div>

</div>