<div class="d-flex w-100 m-2 nav-title">
    <div class='navbar-title mr-4' *ngIf="this.type == 'base'">
        <i class='fa fa-address-card mr-2'></i>Markdown
    </div>
    <div class="flex-grow-1 nav-title">
        <small>{{title}}</small>
        <div class="pull-right pr-2" [routerLink]="'/'">
            <i class='fa fa-home'>

            </i>

        </div>
    </div>

</div>