

.sidebar-links {
    padding-left:20px;
}

.sidebar-links {
    .header, .link {
        font-size: small;
        padding-top:8px;
        padding-bottom: 8px;
        color: darken(white, 5%);
    }
    .header-icon {
        width: 20px;
    }
    .header {
        border-top: rgba(0,0,0,0.1);
        border-top-style:solid;
        border-top-width:1px;
        border-bottom: rgba(0,0,0,0.1);
        border-bottom-style:solid;
        border-bottom-width:1px;
        padding-left:20px;
    }

    .link {
        display: block;
        cursor: pointer;
        color: darken(white, 10%);
        padding-left:20px + 20px;
        transition: 0.1s;
        
    }

    .link:hover {
        background-color: rgba(0,0,0,0.5);
        padding-left:20px + 20px;
        transition: 0.5s ease-out;
    }
}