<div class='sidebar-title'>
    <i class='fa fa-address-card mr-2'></i>Markdown
</div>
<div class='sidebar-links'>
    <div *ngFor="let group of navGroups">
        <div class='header'>
            <i [class]="'fa header-icon ' + group.icon"></i> {{group.title}}
        </div>
        <a class='link' [routerLink]="child.route" (click)="navigate($event, child.route)" *ngFor="let child of children[group.title]">
            {{child.title}}
        </a>
    </div>
</div>