@import 'sass/navbar';
@import 'sass/colors';
body {
    background-color: lighten($primary-color, 40%);
}

.h-screen {
    min-height: 100vh;
}

.pointer {
    cursor: pointer;
}

.placeholder-grey {
    background-color: rgba(0, 0, 0, 0.20);
    border-radius: 2px;
    height: 1em;
}

h1 .placeholder-grey {
    height: 2.5rem;
}

h2 .placeholder-grey {
    height: 2rem;
}

h3 .placeholder-grey {
    height: 1.75rem;
}

h4 .placeholder-grey {
    height: 1.5rem;
}

h5 .placeholder-grey {
    height: 1.25rem;
}

h6 .placeholder-grey {
    height: 1rem;
}