<div class='pr-4 pl-4 pb-4 pt-2'>
    <ng-container *ngIf="!loaded; else elseTemplate">
        <div class='text-center'>
            Loading
            <app-loading></app-loading>
        </div>
    </ng-container>
    <ng-template #elseTemplate>

        <ng-container *ngIf="discountRecords == null || discountRecords.length == 0; else elseTemplate">
            <div class='col-12'>
                <app-alert [type]="'warning'" [title]="'No nearby locations'">
                    Oops, unfortunately we can't find any discounts within 50 km of you.
                </app-alert>
            </div>
        </ng-container>
        <ng-template #elseTemplate>


            <app-alert [type]="'default'" [title]="'Nearby Locations'">
                Below are all locations offering discounts for either senior or companion card holders.
            </app-alert>
            <br/>
            <div class='row'>
                <app-discount-record [discountRecord]="record" *ngFor="let record of discountRecords" class='col-12 col-lg-6 p-2'>
                </app-discount-record>
            </div>
        </ng-template>
    </ng-template>
</div>